meta(charset="utf-8")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="Rock Open Air Festival im Landkreis Kusel")
meta(name="page-topic", content="Musik, Konzert, Festival")
meta(name="page-type", content="Information")
meta(name="keywords", content="Breitbachrock, Breitbach Rock, Sommer, Festival, Open Air, Rock, Livemusik, Musik, Camping, Kusel, Lauterecken, Wolfstein, Oberweiler-Tiefenbach")
meta(rel="author" href="https://plus.google.com/u/0/115849271503758637116/")
meta(rel="publisher" href="http://www.schuetz-sound-and-light.de/")
meta(name="audience" content="alle")
meta(http-equiv="language" content="deutsch, de")
meta(name="robots" content="index, follow")
meta(name="revisit-after" content="7 days")
