doctype html
html(lang="de")
  head
    title Breitbach Rock Open Air 2017
    link(rel="stylesheet", href="assets/css/all.css")
    meta(name="viewport", content="width=device-width")
  body
    div.container
      div.bbr-main-logo
        include _import/logo.html
    
      section.text
        p.description Open Air Festival 2017

        p.date
          strong 10. Juni

        p.wait-for-it 
          small weitere Informationen folgen...
