footer
    div.footerContent
        section.logo
            a(href=".")
                div.bbr-logo.footer-logo
                    include graphics/bbr-logo.svg

        section.links #[a(href="impressum.html") Impressum] | #[a(href="agb.html") AGB] | #[a(href="datenschutzhinweise.html") Datenschutz]
        section.socialmedia
            a(href="https://www.instagram.com/breitbachrock" target="_blanc")
                div.socialButton
                    include graphics/instagram.svg
            a(href="https://www.facebook.com/breitbachrock" target="_blanc")
                div.socialButton
                    include graphics/facebook.svg
            a(href="https://www.youtube.com/channel/UCXkACWPkJoTh3vMMJDJo2DQ" target="_blanc")
                div.socialButton
                    include graphics/youtube.svg