mixin navBar(activeSite)
  -
    var sites = [
      { url:".",              title:"Start",    enabled:"true" }, 
      { url:"lineup.html",    title:"Lineup",   enabled:"true" }, 
      { url:"location.html",  title:"Location", enabled:"true" }, 
      { url:"camping.html",   title:"Camping",  enabled:"true" }, 
      { url:"anfahrt.html",   title:"Anfahrt",  enabled:"true" },
      { url:"bbr17.html",     title:"BBR17",    enabled:"false" }, 
      { url:"bbr18.html",     title:"BBR18",    enabled:"true" }
    ]
    
  nav
    for s in sites
      if s.enabled == "true"
        if s.title == activeSite
          a.active(href=s.url) #{s.title}
        else
          a(href=s.url) #{s.title}
