if site == "start"
  a.active(href="/index.html") Start
else
  a(href="/index.html") Start
if site == "agb"
  a.active(href="/agb.html") AGB
else
  a(href="/agb.html") AGB
if site == "impressum"
  a.active(href="/impressum.html") Impressum
else
  a(href="/impressum.html") Impressum
if site == "datenschutzhinweise"
  a.active(href="/datenschutzhinweise.html") Datenschutzhinweise
else
  a(href="/datenschutzhinweise.html") Datenschutzhinweise
