-var sites = [ { keyword:"start", url:"/index.html", title:"Start" }, { keyword:"bands", url:"/bands.html", title:"Bands" }, { keyword:"tickets", url:"/tickets.html", title:"Tickets" }, { keyword:"anfahrt", url:"/anfahrt.html", title:"Anfahrt" }]
//, { keyword:"kontakt", url:"/kontakt.html", title:"Kontakt" }

- for s in sites
    if site == s.keyword
      a.active(href=s.url) #{s.title}
    else
      a(href=s.url) #{s.title}
