doctype html
html(lang="de")
  head
    include meta.jade
    block pageTitle
    link(rel="stylesheet", href="assets/css/all.css")
    link(rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico")
  body
    header
      a(href="/")
        div.bbr-logo.header-logo
          include logo.svg

      a(href="/")
        div.menu-burger-ico
          include menu_ico.svg

      block navBar
        

    block mainContent

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/all-min.js")
