doctype html
include variables
include mixins/all-mixins
block pageName

html(lang="de")
  head
    include meta    
    title #{pageName} - Breitbach Rock Open Air
    include link
    include matomo
    
  body 
    div.pageContent
      div.backgroundWrapper

      include sideBar
    
      include header

      block mainContent
      
      include footer
