doctype html
include halfbox
include bandThumbNail
include nav
block pageName

html(lang="de")
  head
    include meta    
    title #{pageName} - Breitbach Rock Open Air
    include link
    include matomo
    
  body
    input#sidebarToggle(type="checkbox" name="" value="")
    
    div.sideBar
      +navBar(pageName)
      a(href="https://shop.ticketpay.de/N1XF4U8L")#cta Tickets ≫
      
    label.toggle(for="sidebarToggle")
      div.menu-burger-ico
        include icons/menu_ico.svg
        
      div.close-menu-ico
        include icons/cross_ico.svg 
    
    div.pageContent
      div.backgroundWrapper
    
      header
        div.headerWrapper
          +navBar(pageName)
          h2.title #{pageName}
          a(href="https://shop.ticketpay.de/N1XF4U8L")#cta Tickets ≫

      block mainContent
      
      footer
        div.footerContent
          section.logo
            a(href=".")
              div.bbr-logo.footer-logo
                include logo.svg
            
          section.links #[a(href="impressum.html") Impressum] | #[a(href="agb.html") AGB] | #[a(href="datenschutzhinweise.html") Datenschutz]
          section.socialmedia
            a(href="https://www.instagram.com/breitbachrock" target="_blanc")
              div.socialButton
                include icons/instagram.svg
            a(href="https://www.facebook.com/breitbachrock" target="_blanc")
              div.socialButton
                include icons/facebook.svg
            a(href="https://www.youtube.com/channel/UCXkACWPkJoTh3vMMJDJo2DQ" target="_blanc")
              div.socialButton
                include icons/youtube.svg
