-
    var sites = [
        { url:".",              title:"Start",    navbar:"true",    thumb:"" }, 
        { url:"lineup.html",    title:"Lineup",   navbar:"true",    thumb:"" }, 
        { url:"location.html",  title:"Location", navbar:"true",    thumb:"assets/img/konzertgelände.png",  text:"Übersichtskarten und Informationen zum Angebot auf dem Konzertgelände findet ihr hier." }, 
        { url:"camping.html",   title:"Camping",  navbar:"true",    thumb:"assets/img/camper.jpg",          text:"Bei uns könnt ihr natürlich auch campen, wie sich das für ein ordentliches Festival gehört. Wir haben das bei dem Landwirt vor Ort für euch klar gemacht. Samstag Nacht muss keiner mehr nach Hause!" }, 
        { url:"anfahrt.html",   title:"Anfahrt",  navbar:"true",    thumb:"assets/img/umgebung.png",        text:"Hier haben wir euch Anfahrtswege, Karten und Hinweise zusammengestellt. Fahrt vorsichtig, wir sehen uns dann auf dem Festivalplatz!" },
        { url:"bbr18.html",     title:"BBR18",    navbar:"true",    thumb:"assets/img/vielenDank.jpg",      text:"Als Rückschau auf das Fest von letztem Jahr haben wir euch hier ein paar Bilder und Videos zusammengetragen." }
    ]

-
    var bands = [
        {
            name:"Fibel",
            shortName:"fibel",
            discription:"Progressive-Rock aus dem Saarland",
            text:[
                "Die drei Musiker sind die vielleicht einzige moderne Progressive Rock Gruppe mit deutschsprachigem Gesang. Sie verbinden Elemente aus verschiedenen Genres wie Stoner Rock, Metal und Grunge. Zusammen mit einer gesunden Portion Prog erschaffen Fibel ihren ganz eigenen, einzigartigen Sound.",
                "Fibel wurde Anfang 2014 von den drei Bandmitgliedern Thomas, André und Daniel gegründet. Nach fast vierjähriger Schaffenszeit wurde dann am 11. November 2017 ihr Erstlingswerk „Sturm & Strömung“ veröffentlicht. Das Album ist als kostenloser Download erhältlich. Jetzt freuen sich Fibel darauf, ihre Musik live zu spielen."
            ],
            image:"assets/img/fibel.jpg",
            links:[
                { name:"Website", url:"http://fibel-band.de"},
                { name:"SoundCloud", url:"https://soundcloud.com/fibelmusik"},
                { name:"YouTube", url:"https://www.youtube.com/channel/UCIA9se9KbKMcQrNvosUlDLQ"},
                { name:"Facebook", url:"https://www.facebook.com/fibel.band/"}
            ],
            announced:"true"
        },
        {
            name:"Anthony Scott",
            shortName:"anthonyscott",
            discription:"",
            text:["", "", ""],
            image:"assets/img/anthonyscott.jpg",
            links:[
                { name:"", url:""}
            ],
            announced:"true"
        },
        {
            name:"4-Zimmer-Küche-Bad",
            shortName:"4zkb",
            discription:"",
            text:["", "", ""],
            image:"assets/img/4zkb.jpg",
            links:[
                { name:"", url:""}
            ],
            announced:"true"
        }
    ]