mixin bandThumbNail(band)
  a.bandThumb(href="lineup.html#" + band.shortName)
    div.thumbnailWrapper(class=band.shortName, style="background-image: url(" + band.image + ')')
      div.textWrapper
        h3 #{band.name}
