mixin navBar(activeSite)
  nav
    for s in sites
      if s.navbar == "true"
        if s.title == activeSite
          a.active(href=s.url) #{s.title}
        else
          a(href=s.url) #{s.title}
