// Logo
$colorLogoFill: rgb(245,255,69)
$colorLogoStroke: rgb(38,50,87)
$colorLogoShadow: rgb(8,17,46)

// Text
$fontStack:  Heiti SC, Helvetica, "Roboto", Arial, sans-serif
$chineseRocks: "Chinese Rocks", Heiti SC, Helvetica, "Roboto", Arial, sans-serif
$colorText: #FFF

//Overlay
$overlayBg: rgba(16,16,16, 0.3)

$contentSectionWidth: 1024px

$navHeight: 60px
$navCollapseWidth: 840px

$footerCollapseWidth: 1024px


$sideBarWidth: 140px


$colorHighlight: lighten($colorLogoFill, 10%)
