a#cta
  border-radius: 4px
  font-family: $chineseRocks
  letter-spacing: 1px
  color: $color-shadow
  background-color: $color-main
  text-shadow: 0 0 4px white
  padding: 8px 16px
  box-shadow: 1px 1px 0 1px shade($color-main, 40%), 2px 2px 0 1px shade($color-main, 40%)

  &:hover
    background-color: $color-highlight

  &.disabled
    pointer-events: none
    cursor: not-allowed
    color: shade(dimgrey, 40%)
    text-decoration: none
    background-color: dimgrey
    box-shadow: 1px 1px 0 1px shade(dimgrey, 30%), 2px 2px 0 1px shade(dimgrey, 30%)
    text-shadow: none

div.sideBar
  a#cta
    right: 0
    display: inline
    margin-left: 20px
    margin-right: 0

div.headerWrapper
  a#cta
    position: absolute
    margin-top: 10px
    right: 30px

    &:active
        margin-top: 13px
        right: 37px
        box-shadow: none

header
  display: block
  position: fixed
  top: 0px
  width: 100%
  z-index: 100
  height: $navHeight
  background-color: rgba(0, 0, 0, 0.9)
  box-shadow: 0 5px 10px $color-shadow
  backdrop-filter: blur(3px)

  .headerWrapper
    display: block
    position: relative
    z-index: 100
    max-width: $contentSectionWidth
    margin-left: auto
    margin-right: auto
    height: $navHeight
    padding-left: 5vw
    padding-right: 5vw

    nav
      display: inline-block
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      margin-top: -5px

      a
        margin-left: 2em
        color: white
        @include padding(0.5em null)
        text-shadow: 0 0.1em 0.2em $color-shadow

      a:first-child
        margin-left: 0

      a.active
        border-bottom: 2px solid white
        pointer-events: none
        cursor: default

@media all and (max-width: $navCollapseWidth)
  header
    z-index: 200
    .headerWrapper
      nav
        display: none

label.toggle
  cursor: pointer
  +size(40px)
  display: none
  position: fixed
  top: 13px
  z-index: 500
  left: 30px

  svg
    fill: white

  div.close-menu-ico
    display: none

  @media all and (max-width: $navCollapseWidth)
    display: inline-block

#sidebarToggle
  display: none

  &:checked
    ~ div.sideBar
      left: 0px

    ~ div.pageContent
      filter: brightness(25%)

      header > a
        display: none

    ~ label.toggle
      position: fixed
      left: 20px + $sideBarWidth

      div.close-menu-ico
        display: inline-block

      div.menu-burger-ico
        display: none

div.sideBar
  +position(fixed, 0px (-$sideBarWidth) 0px null)
  z-index: 1000
  width: $sideBarWidth
  background-color: black

  nav
    margin: 20px
    font-size: 1em

    >a
      display: block
      text-align: right
      margin-bottom: 2em
      padding-right: 1em
      color: $colorText

    a.active
      border-right: 2px solid $colorText
      pointer-events: none
      cursor: default
