body
  div.container-preview
    @include padding(7vh 5vw 3vh 5vw)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: $contentSectionWidth

    @media all and (min-width: 1150px)
      @include margin(null auto null auto)

    div.bbr-main-logo
      z-index: 2
      max-height: 40vh
      width: 90vw
      text-align: center

      svg
        overflow: visible
        z-index: 3
        max-height: 40vh
        max-width: 100%
        filter: drop-shadow(0 0.5vw 0.5vw $colorLogoShadow)

        path
          stroke-width: 5px

    div.text
      z-index: 1
      max-height: 50%
      @include margin(2em 0)

      p
        @include padding(0)
        margin: 0.25em
        text-align: center
        text-shadow: 0 0.1em 0.1em $colorLogoShadow
        font-size: modular-scale(5)

        strong
          font-weight: 500
          font-size: modular-scale(3)

        small
          font-size: modular-scale(-3)
          font-weight: 300


        @media all and (max-width: 824px)
          font-size: modular-scale(4)

        @media all and (max-width: 660px)
          font-size: modular-scale(3)

        @media all and (max-width: 550px)
          font-size: modular-scale(2)

        @media all and (max-width: 450px)
          font-size: modular-scale(1)

    div.box
      // @media all and (max-width: 1150px)
      position: relative
      width: 90%

      div.fullbox
        margin-top: 1em
        img
          max-width: 50%
          height: auto
          float: left
          margin-right: 1em
          margin-bottom: 1em

          @media all and (max-width: 640px)
            max-width: 100%
            float: none
            margin-left: 0em

      div.halfbox
        float: left
        width: 47%
        margin-left: 3%
        margin-top: 2em
        margin-bottom: 2em

        &:nth-of-type(2n)
          margin-right: 3%
          margin-left: 0

        @media all and (max-width: 860px)
          width: 100%
          float: none
          margin-left: 0

          &:nth-of-type(2n)
            margin-right: 0

        img
          width: 100%
          height: auto
