-
    var sites = [
        { url:'.',              title:'Start',    navbar:'true',    thumb:'' }, 
        { url:'lineup.html',    title:'Lineup',   navbar:'true',    thumb:'' }, 
        { url:'location.html',  title:'Location', navbar:'true',    thumb:'assets/img/konzertgelaende.png',  text:'Übersichtskarten und Informationen zum Angebot auf dem Konzertgelände findet ihr hier.' }, 
        { url:'camping.html',   title:'Camping',  navbar:'true',    thumb:'assets/img/camper.jpg',          text:'Bei uns könnt ihr natürlich auch campen, wie sich das für ein ordentliches Festival gehört. Wir haben das bei dem Landwirt vor Ort für euch klar gemacht. Samstag Nacht muss keiner mehr nach Hause!' }, 
        { url:'anfahrt.html',   title:'Anfahrt',  navbar:'true',    thumb:'assets/img/umgebung.png',        text:'Hier haben wir euch Anfahrtswege, Karten und Hinweise zusammengestellt. Fahrt vorsichtig, wir sehen uns dann auf dem Festivalplatz!' },
        { url:'bbr18.html',     title:'BBR18',    navbar:'true',    thumb:'assets/img/vielenDank.jpg',      text:'Als Rückschau auf das Fest von letztem Jahr haben wir euch hier ein paar Bilder und Videos zusammengetragen.' }
    ]

-
    var bands = [
        {
            name:'Herzlos',
            shortName:'herzlos',
            discription:'Deutschpunkrock aus Eulenbis',
            text:[
                '',
                'Das neue Album "Schwarz-Weiss-Neon" kommt noch pünktlich zur Festivalsaison raus. Hier schon mal vorab der Song "Platin" zum warm werden.'
            ],
            image:'assets/img/herzlos2.jpg',
            links:[
                { name:'Facebook', url:'https://www.facebook.com/herzlos.deutschpunkrock'},
                { name:'SoundCloud', url:'https://soundcloud.com/herzlosofficial/'},
                { name:'YouTube', url:'https://www.youtube.com/user/HerzlosEulenbis/'}
            ],
            announced:'true'
        },
        {
            name:'Mel Chella',
            shortName:'melchella',
            discription:'Singer/Songwriter aus Kaiserslautern',
            text:[
                '',
                'Mel Chella ist eine Singer/Songwriterin aus dem Raum Kaiserslautern. Mit ihrem ersten Song "Flügel" feierte sie erste Erfolge, gewann 2017 den HOFA Songcheck im Bereich Pop. Mit ihrer starken Stimme verzaubert sie das Publikum auf authentische und energievolle Art und steckt dabei mit purer Lebensfreude an.'
            ],
            image:'assets/img/melchella.jpg',
            links:[
                { name:'Facebook', url:'https://www.facebook.com/melchella/'},
                { name:'SoundCloud', url:'https://soundcloud.com/user-882072664-160021994'},
                { name:'Instagram', url:'https://www.instagram.com/mel_chella/'}
            ],
            announced:'true'
        },
        {
            name:'Fibel',
            shortName:'fibel',
            discription:'Progressive-Rock aus dem Saarland',
            text:[
                'Die drei Musiker sind die vielleicht einzige moderne Progressive Rock Gruppe mit deutschsprachigem Gesang. Sie verbinden Elemente aus verschiedenen Genres wie Stoner Rock, Metal und Grunge. Zusammen mit einer gesunden Portion Prog erschaffen Fibel ihren ganz eigenen, einzigartigen Sound.',
                'Fibel wurde Anfang 2014 von den drei Bandmitgliedern Thomas, André und Daniel gegründet. Nach fast vierjähriger Schaffenszeit wurde dann am 11. November 2017 ihr Erstlingswerk „Sturm & Strömung“ veröffentlicht. Das Album ist als kostenloser Download erhältlich. Jetzt freuen sich Fibel darauf, ihre Musik live zu spielen.'
            ],
            image:'assets/img/fibel.jpg',
            links:[
                { name:'Website', url:'http://fibel-band.de'},
                { name:'SoundCloud', url:'https://soundcloud.com/fibelmusik'},
                { name:'YouTube', url:'https://www.youtube.com/channel/UCIA9se9KbKMcQrNvosUlDLQ'},
                { name:'Facebook', url:'https://www.facebook.com/fibel.band/'}
            ],
            announced:'true'
        },
        {
            name:'Anthony Scott',
            shortName:'anthonyscott',
            discription:'Deutschrock/Metal aus Sachsen',
            text:[
                'Seit 2017 rockt diese Truppe die Bühnen der Nation. Aus einem Soloprojekt hervorgegangen startet Anthony Scott nun in kompletter Metal-Formation voll durch.',
                'Von Anfang an stand die Windrichtung genau fest: Anthony Scott steht für Deutschrock mit Metalkante, für Texte mit unheimlich viel Herz und für ehrliche Musik mitten aus dem Leben. Symbolisch für den ständigen Drang nach Freiheit und Unabhängigkeit steht das Seemannsgewand.'
            ],
            image:'assets/img/anthonyscott.jpg',
            links:[
                { name:'Website', url:'http://www.anthony-scott.de'},
                { name:'YouTube', url:'https://www.youtube.com/channel/UCRv-OEtZ6ksH3tPOwS3D9Cg'},
                { name:'Facebook', url:'https://www.facebook.com/AnthonyScottMusic'}
            ],
            announced:'true'
        },
        {
            name:'4-Zimmer-Küche-Bad',
            shortName:'4zkb',
            discription:'Indie-Rock/Pop/Punk aus Limburg an der Lahn',
            text:[
                'Diese Rock-WG steht für eingängige Singalong-Refrains und durchweg tanzbare Rhythmen. Neben Gute-Laune-Songs kann 4ZKB aber auch durchaus nachdenkliche Töne anschlagen.',
                'Ihre erste Platte "Eigentlich müsste man mal" kam letztes Jahr raus und wird gerne in diversen Club- und Pub-Feten auf die Livebühne gebracht. Feierbare Musik mit Herz und Hirn - definitv Open-Air-tauglich!' 
            ],
            image:'assets/img/4zkb.jpg',
            links:[
                { name:'Website', url:'http://www.4zkb.de'},
                { name:'SoundCloud', url:'https://soundcloud.com/4zkb'},
                { name:'YouTube', url:'https://www.youtube.com/watch?v=3lER7EBm6JI'},
                { name:'Facebook', url:'https://facebook.com/vierzimmerkuechebad'}
            ],
            announced:'true'
        }
    ]