extends _import/page_layout

block pageTitle
  title AGB - Breitbach Rock Open Air 2017
  
block navBar
  nav 
    - var site = "agb"
    include _import/nav.jade

block mainContent
  div.container
   div.box
    h2.title Allgemeine Geschäftsbedingungen

    h3 Auszug aus den Allgemeinen Geschäftsbedingungen des Veranstalters zum _______ Festival
    p 1. Bei den Einlässen zu der Veranstaltungsstätte erfolgt eine Sicherheitskontrolle durch den Ordnungsdienst. Es ist untersagt, Film- und Tonaufnahmegeräte, sämtliche Gegenstände aus Glas (ausgenommen Arzneimittel), Waffen aller Art, Fackeln, pyrotechnische Gegenstände sowie sonstige gefährliche Gegenstände mitzubringen. Bei Zuwiderhandlungen werden diese durch den Ordnungsdienst eingezogen und nicht zurückerstattet. Der Veranstalter kann Besuchern mit verbotswidrig mitgeführten Dingen den Eintritt verweigern.
    p 2. Bei Vorliegen eines wichtigen Grundes, insbesondere dann, wenn ein Besucher auf dem Veranstaltungsgelände Straftaten (z.B. Körperverletzungen, Diebstähle, Drogenhandel) begeht, ist der Veranstalter berechtigt, denjenigen von der Veranstaltung auszuschließen. Macht der Veranstalter von seinem Ausschlussrecht Gebrauch, so verliert die Eintrittskarte / Bändchen ihre / seine Wirksamkeit. Ein Anspruch auf Rückerstattung des Kartenwertes ist ausgeschlossen. Bitte den Anweisungen des Ordnungspersonals Folge leisten. Jede Straftat wird sofort angezeigt.
    p 3. Das Tragen und Zeigen von verfassungsfeindlichen Symbolen ist untersagt. Bei Zuwiderhandlung erfolgt der sofortige Ausschluss von der Veranstaltung ohne Rückerstattung des Eintrittspreises.
    p 4. Wir weisen ausdrücklich darauf hin, dass bei Konzerten aufgrund erhöhter Lautstärke die Gefahr von möglichen Hör- und Gesundheitsschäden besteht. Der Veranstalter haftet nicht für Hör- und Gesundheitsschäden.
    p 5. Das Mindestalter für eine Teilnahme beim ………Festival liegt bei …….Jahren.
    p 6. Der Erwerb von Eintrittskarten zum Weiterverkauf ist untersagt.
    p 7. Helft mit beim Umweltschutz und insbesondere bei der Müllvermeidung. Das eigenmächtige Anlegen von Feuerstellen ist untersagt.
    p 8. Der Besucher betritt das Konzertgelände auf eigene Gefahr. Keine Haftung für Sach- und Körperschäden. Er ist außerdem für seine An- und Abreise zu und von der Veranstaltung selbst verantwortlich und parkt sein Fahrzeug auf eigene Gefahr. Für eventuelle Schäden am KFZ wird vom Veranstalter keine Haftung übernommen.
    p 9. Im Falle einer Absage des ……..Festivals besteht Anspruch auf Erstattung des Eintrittspreises OHNE Vorverkaufsgebühr. Die Erstattung erfolgt durch die jeweilige Vorverkaufsstelle, bei der das/die Ticket(s) gekauft wurde(n) und nach Vorlage/Rücksendung der Eintrittskarte(n).
    p Das …….. Festival findet grundsätzlich bei jedem Wetter statt! Sollte durch die Witterungsumstände eine Gefahr für Leib, Leben oder Gesundheit der Besucher, Künstler oder der Mitarbeiter entstehen, behalten wir uns vor das ……….Festival unverzüglich abzubrechen. Bei witterungsbedingtem Abbruch des ………..Festivals, aufgrund eines Abbruchs durch sonstige Gründe der höheren Gewalt, behördlicher Anordnung oder gerichtlicher Entscheidung, besteht kein Anspruch auf Rückerstattung des Ticketpreises oder Schadensersatz, es sei denn, dem Veranstalter kann grobe Fahrlässigkeit oder Vorsatz zur Last gelegt werden.
    p Mit dem Festivalticket erwirbt der Besucher das Recht auf die Teilnahme am…….. Festival mit zahlreichen Live-Konzerten und Rahmenprogrammpunkten innerhalb des Festivalgeländes. Das Festivalgelände umfasst ……………. Aufgrund der Vielzahl einzelner Programmpunkte sind Programmänderungen, die Absage oder Streichung einzelner Konzerte, auch von angekündigten Headlinern, nicht auszuschließen. In diesen Fällen bestehen für den Besucher keinerlei Ansprüche gegenüber dem Veranstalter. Verspätungen oder zeitliche Verlegungen einzelner Programmpunkte (Running Order), im Speziellen solche, die während der laufenden Festivalveranstaltung entstehen, sind vom Besucher hinzunehmen. Auftretende Programmänderungen werden durch den Veranstalter unverzüglich bekannt gegeben. Abhängig vom Zeitpunkt der Änderung behält sich der Veranstalter die Möglichkeit die Bekanntgabe durch Veröffentlichung auf www………..oder im Rahmen von Programmaushängen oder Durchsagen auf dem Festivalgelände vorzunehmen.
    p 10. Alle gültigen Eintrittskarten für das ……………..Festival (Tages- und Wochenendkarten), werden beim erstmaligen Einlass gegen ein Festival wristband (Kontrollarmband) umgetauscht. Die Eintrittskarten werden bei diesem Umtausch entwertet. Das Festival wristband wird um das Handgelenk des Besuchers befestigt.
    p Während der Dauer des Festivals (Tag bzw. Wochenende) berechtigt nur das jeweilig unbeschädigte und originale Festival wristband zum Einlass auf das Festivalgelände !
