extends _import/page_layout

block pageName
  -var pageName = "AGB"

block mainContent
 div.box.rules
  h2.title Allgemeine Geschäftsbedingungen

  h3 Auszug aus den Allgemeinen Geschäftsbedingungen des Veranstalters zum Breitbach Rock Festival
  ol
    li 
      p Bei den Einlässen zu der Veranstaltungsstätte erfolgt eine Sicherheitskontrolle durch den Ordnungsdienst. Es ist untersagt, Film- und Tonaufnahmegeräte, sämtliche Gegenstände aus Glas (ausgenommen Arzneimittel), Waffen aller Art, Fackeln, pyrotechnische Gegenstände sowie sonstige gefährliche Gegenstände mitzubringen. Bei Zuwiderhandlungen werden diese durch den Ordnungsdienst eingezogen und nicht zurückerstattet. Der Veranstalter kann Besuchern mit verbotswidrig mitgeführten Dingen den Eintritt verweigern.
    li 
      p Bei Vorliegen eines wichtigen Grundes, insbesondere dann, wenn ein Besucher auf dem Veranstaltungsgelände Straftaten (z.B. Körperverletzungen, Diebstähle, Drogenhandel) begeht, ist der Veranstalter berechtigt, denjenigen von der Veranstaltung auszuschließen. Macht der Veranstalter von seinem Ausschlussrecht Gebrauch, so verliert die Eintrittskarte / Bändchen ihre / seine Wirksamkeit. Ein Anspruch auf Rückerstattung des Kartenwertes ist ausgeschlossen. Bitte den Anweisungen des Ordnungspersonals Folge leisten. Jede Straftat wird sofort angezeigt.
    li 
      p Das Tragen und Zeigen von verfassungsfeindlichen Symbolen ist untersagt. Bei Zuwiderhandlung erfolgt der sofortige Ausschluss von der Veranstaltung ohne Rückerstattung des Eintrittspreises.
    li 
      p Wir weisen ausdrücklich darauf hin, dass bei Konzerten aufgrund erhöhter Lautstärke die Gefahr von möglichen Hör- und Gesundheitsschäden besteht. Der Veranstalter haftet nicht für Hör- und Gesundheitsschäden.
    li 
      p Das Mindestalter für eine Teilnahme beim Breitbach Rock Festival richtet sich nach den #[a(href="jugendschutzhinweise.html") Jugendschutzhinweisen] in Verbindung mit den Bedingungen des Jugendschutzgesetzes.
      p Jugendliche unter 18 Jahren haben nur in Begleitung eines Erziehungsberechtigten Zutritt oder mit einer vom Erziehungsberechtigten ernannten Person mit unterschriebener #[a(href="assets/doc/Sorgeberechtigung.pdf" target="_blanc") Vereinbarung zur Sorgeberechtigung].
    li
      p Der Erwerb von Eintrittskarten zum Weiterverkauf ist untersagt.
    li
      p Helft mit beim Umweltschutz und insbesondere bei der Müllvermeidung.
      p Das eigenmächtige Anlegen von Feuerstellen ist untersagt. Es gelten außerdem die #[a(href="campingregeln.html") Regeln des Campingplatzes].
    li
      p Der Besucher betritt das Konzertgelände auf eigene Gefahr. Keine Haftung für Sach- und Körperschäden. Er ist außerdem für seine An- und Abreise zu und von der Veranstaltung selbst verantwortlich und parkt sein Fahrzeug auf eigene Gefahr. Für eventuelle Schäden am KFZ wird vom Veranstalter keine Haftung übernommen.
    li
      p Im Falle einer Absage des Breitbach Rock Festivals besteht Anspruch auf Erstattung des Eintrittspreises OHNE Vorverkaufsgebühr. Die Erstattung erfolgt durch die jeweilige Vorverkaufsstelle, bei der das/die Ticket(s) gekauft wurde(n) und nach Vorlage/Rücksendung der Eintrittskarte(n).
      p Das Breitbach Rock Festival findet grundsätzlich bei jedem Wetter statt! Sollte durch die Witterungsumstände eine Gefahr für Leib, Leben oder Gesundheit der Besucher, Künstler oder der Mitarbeiter entstehen, behalten wir uns vor das Breitbach Rock Festival unverzüglich abzubrechen. Bei witterungsbedingtem Abbruch des Breitbach Rock Festivals, aufgrund eines Abbruchs durch sonstige Gründe der höheren Gewalt, behördlicher Anordnung oder gerichtlicher Entscheidung, besteht kein Anspruch auf Rückerstattung des Ticketpreises oder Schadensersatz, es sei denn, dem Veranstalter kann grobe Fahrlässigkeit oder Vorsatz zur Last gelegt werden.
      p Mit dem Festivalticket erwirbt der Besucher das Recht auf die Teilnahme am Breitbach Rock Festival mit zahlreichen Live-Konzerten und Rahmenprogrammpunkten innerhalb des Festivalgeländes. Aufgrund der Vielzahl einzelner Programmpunkte sind Programmänderungen, die Absage oder Streichung einzelner Konzerte, auch von angekündigten Headlinern, nicht auszuschließen. In diesen Fällen bestehen für den Besucher keinerlei Ansprüche gegenüber dem Veranstalter. Verspätungen oder zeitliche Verlegungen einzelner Programmpunkte (Running Order), im Speziellen solche, die während der laufenden Festivalveranstaltung entstehen, sind vom Besucher hinzunehmen. Auftretende Programmänderungen werden durch den Veranstalter unverzüglich bekannt gegeben. Abhängig vom Zeitpunkt der Änderung behält sich der Veranstalter die Möglichkeit die Bekanntgabe durch Veröffentlichung auf #[a(href="http://www.breitbachrock.de/") www.breitbachrock.de] oder im Rahmen von Programmaushängen oder Durchsagen auf dem Festivalgelände vorzunehmen.
    li
      p Alle gültigen Eintrittskarten für das Breitbach Rock Festival (Tageskarten), werden beim erstmaligen Einlass gegen ein Festivalband (Kontrollarmband) umgetauscht. Die Eintrittskarten werden bei diesem Umtausch entwertet. Das Festivalband wird um das Handgelenk des Besuchers befestigt.
      p Während der Dauer des Festivals (einen Tag) berechtigt nur das jeweilig unbeschädigte und originale Festivalband zum Einlass auf das Festivalgelände!
