extends _import/page_layout

block pageTitle
  title Anfahrt - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "anfahrt"
    include _import/nav.jade

block mainContent
 div.box.anfahrt
  h2.title Anfahrt
  p Das Breitbach Rock Festival findet auf dem Festgelände beim Gemeidehaus Oberweiler-Tiefenbach bei Wolfstein, Ortsteil Tiefenbach, statt.
  
  img(src="/assets/img/umgebung.png", alt="Umgebungskarte")
  
  p Folgende Adresse kann für's Navi verwendet werden:
  p Schulstraße 7, 67752 Oberweiler-Tiefenbach
  p: a(href="https://www.google.de/maps/place/Schulstra%C3%9Fe+7,+67752+Oberweiler-Tiefenbach/@49.6022104,7.616512,19z/data=!4m5!3m4!1s0x4796087664e23bef:0x52493a5a1ab35e57!8m2!3d49.6022382!4d7.6162248?hl=de" target="_blanc") Google Maps ≫
    
  h3 Aus Richtung Kaiserslautern
  p Von Kaiserslautern West aus beim Opelkreisel auf die B270 in Richtung Lauterecken fahren und der Bundesstraße circa 25Km folgen. Etwa 1Km nach der Ortsausfahrt Wolfstein rechts Richtung Ortseinfahrt Oberweiler-Tiefenbach abbiegen. Nachdem der Bahnübergang und die Brücke überquert wurden, weiter der Hauptstraße folgen, die anschließend eine Linkskurve macht. Etwa in der Mitte des Ortes rechts abbiegen in die Schulstraße Richtung Bürgerhaus. Parkplätze, Campingplatz und das Festivalgelände befinden sich am Ende der Straße.
    
  img(src="/assets/img/detailkarte.png", alt="Karte Oberweiler-Tiefenbach")
    
  h3 Aus Richtung Lauterecken
  p Stadtauswärts auf die B270 in Richtung Kaiserslautern fahren und der Bundesstraße circa 7Km folgen. Etwa 300m nachdem der Ort Reckweilerhof passiert wurde links in Richtung Ortseinfahrt Oberweiler-Tiefenbach abbiegen. Nachdem Bahnübergang und Brücke überquert sind weiter der Hauptstraße folgen, die nach rechts abbiegt. Etwa in der Mitte des Ortes links abbiegen in die Schulstraße Richtung Bürgerhaus. Parkplätze, Campingplatz und das Festivalgelände befinden sich am Ende der Straße.
    
  h3 Öffentlicher Nahverkehr
  p Es ist möglich, das Festival mit öffentlichen Verkehrsmitteln zu erreichen. Aus Kaiserslautern oder Lauterecken kann die Bahn bis zur Haltestelle Reckweilerhof (Endstation Lauterecken-Grumbach bzw. Kaiserslautern Hbf) genommen werden. Bitte informiere dich vorher, ob und wann Verbindungen möglich sind. Das Festivalgelände ist von Reckweilerhof aus fußläufig erreichbar, der Fußweg beträgt etwa 1Km.
  p Von der Bahnhaltestelle Reckweilerhof aus die B270 überqueren und auf dem Fußweg etwa 250m Richtung Wolfstein/Kaiserslautern der Bundesstraße folgen. Bei der Ortseinfahrt Oberweiler-Tiefenbach die Straße erneut überqueren, sowie über die Brücke und den Bahnübergang gehen. Anschließend der Hauptstraße folgen, die nach rechts abbiegt. Etwa in der Mitte des Ortes links abbiegen in die Schulstraße Richtung Bürgerhaus. Der Campingplatz und das Festivalgelände befinden sich am Ende der Straße.
