extends _import/page_layout

block pageTitle
  title Anfahrt - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "anfahrt"
    include _import/nav.jade

block mainContent
 div.box
  h2.title Anfahrt
  
