extends _import/page_layout

block pageTitle
  title Bands - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "bands"
    include _import/nav.jade

block mainContent
  div.box.bands
    h2.title Bereits bestätigte Bands
    
    section.band
      h3#unherz Unherz
      p Rock/Metal aus der Pfalz 
      img(src="assets/img/unherz.jpg", alt="Unherz Bandfoto")
      p Sie lassen das Herz eines jeden Liebhabers des geflegten Schwermetalls höher schlagen: Unherz besticht durch treibende Riffs, glaskare Melodien sowie Rythmen, die zum Haare schütteln wie gemacht sind.  
      p In ihren Texten verarbeiten Sie unter anderem das gesellschftiliche Weltgeschehen und warten mit Kommentaren und Gedanken auf. Da sie stehts in deutscher Sprache texten, kommen die Botschaften besonders zugänglich.
      p Die Band aus dem Großraum Kaiserslautern-Alzey steht kurz vor ihrem 10 Jährigen Jubiläum und hat in der zwischenzeit mehrere Alben veröffentlicht sowie zahlreiche namenhafte Liveshows gespielt.
      
      div.responsiveContainer: iframe(width="420" height="315" src="https://www.youtube.com/embed/sVVTEAj7eJ4")
      
      div.links
        h4 Weitere Informationen:
        ul
          li
            a(href="http://www.unherz.com" target="_blanc") Website ≫
          li
            a(href="https://www.facebook.com/Unherzoffiziell/" target="_blanc") Facebook ≫ 
          li
            a(href="https://www.youtube.com/channel/UCTf7t89xZ1KoWxet9wui-Hg" target="_blanc") YouTube ≫         
    
    section.band
      h3#fibel Fibel
      p Progressive-Rock aus dem Saarland 
      img(src="assets/img/fibel.jpg", alt="Fibel Bandfoto")
      p Die drei Musiker sind die vielleicht einzige moderne Progressive Rock Gruppe mit deutschsprachigem Gesang. Sie verbinden Elemente aus verschiedenen Genres wie Stoner Rock, Metal und Grunge. Zusammen mit einer gesunden Portion Prog erschaffen Fibel ihren ganz eigenen, einzigartigen Sound.
      p Fibel wurde Anfang 2014 von den drei Bandmitgliedern Thomas, André und Daniel gegründet. Nach fast vierjähriger Schaffenszeit wurde dann am 11. November 2017 ihr Erstlingswerk „Sturm & Strömung“ veröffentlicht. Das Album ist als kostenloser Download erhältlich. Jetzt freuen sich Fibel darauf, ihre Musik live zu spielen.
      
      div.responsiveContainer.right: iframe(width="420" height="315" src="https://www.youtube.com/embed/8p-T9Ny3AXU")
      
      div.links
        h4 Weitere Informationen:
        ul
          li
            a(href="http://fibel-band.de" target="_blanc") Website ≫
          li
            a(href="https://soundcloud.com/fibelmusik" target="_blanc") SoundCloud ≫
          li
            a(href="https://www.youtube.com/channel/UCIA9se9KbKMcQrNvosUlDLQ" target="_blanc") YouTube ≫
          li
            a(href="https://www.facebook.com/fibel.band/" target="_blanc") Facebook ≫  
      
    section.band
      h3#blike Blike
      p Singer/Songwriter aus Kaiserslautern
      img(src="assets/img/blike.jpg", alt="Blike Foto")

      p Glücklicherweise ist Singer/Songwriter Blike auch in diesem Jahr wieder dabei. Es ist ja nicht nur so, dass bei ihr musikalisches Talent auf eine Wahnsinnsstimme trifft; ihre Gigs sind vor allem auch von ihrer authentischen, energiegeladenen Art und purer Lebensfreude geprägt, womit sie im Handumdrehen das ganze Publikum ansteckt. Das hat sie auch im letzten Jahr auf unserer Open Air Stage wieder einmal erfolgreich unter Beweis gestellt.
      
      p Daher sind wir besonders froh, dass sie das Breitbach Rock 2018 eröffnen wird. Wer da zu spät kommt, verpasst definitiv was!
      
      div.responsiveContainer: iframe(width="420" height="315" src="https://www.youtube.com/embed/Dsmtj0dGb8s")
      
      div.links
        h4 Weitere Informationen:
        ul
          li
            a(href="https://www.instagram.com/blike_/" target="_blanc") Instagram ≫
          li
            a(href="https://www.youtube.com/blikemusic/" target="_blanc") YouTube ≫
          li
            a(href="https://www.facebook.com/blikemusic/" target="_blanc") Facebook ≫
          
    section
      p.right weitere werden noch bekanntgegeben
      
  
