extends _import/page_layout

block pageTitle
  title Bands - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "bands"
    include _import/nav.jade

block mainContent
 div.box.bands
  h2.title Bands
  
  section.band
    h3#horses Surfing Horses
    p Funkiger Indie-Rock aus Kaiserslautern 
    img(src="/assets/img/horses.jpg", alt="Surfing Horses Bandfoto")
    p Macht die Surfbretter klar und packt schon mal Badehosen und Sonnencreme ein - die Surfing Horses rocken auf dem Breitbachrock 2017!
    p Mit ihren energiegeladenen und funkygen Riffs und durchweg tanzbaren Bassläufen bringen die Horses seit ihrer Gründung im Jahr 2014 sommerliche Vibes in jeden noch so kleinen Schuppen. Bei Gigs in diversen Pubs und Kellerbars tropfte da schon des öfteren der Schweiß von der Decke. Locations wie das Irish House in Kaiserslautern sowie das legendäre Schalander in Kusel wurden fachgerecht zerlegt.    
    p Dass diese Band zu einem Indie Open Air passt wie Deckel auf Eimer steht außer Frage. Kalte Getränke, Sternenhimmel und Horses - noch mehr Sommergefühle geht nicht!
    
    div.responsiveContainer: iframe(width="420" height="315" src="https://www.youtube.com/embed/1bYQZmBHRvY")
    
    p Ob die Breitbach am 10. Juni genug Wasser führen wird, als dass ihr auf den Wellen surfen und Jetski fahren könnt, bleibt allerdings noch abzuwarten und muss dann wohl vor Ort erprobt werden. ;-)
    p
      a(href="https://soundcloud.com/surfing-horses/" target="_blanc") SoundCloud ≫
      a(href="https://www.youtube.com/channel/UCHcG-NiMsdgLSXaDk0RhSxA/" target="_blanc") YouTube ≫
      a(href="https://www.facebook.com/SurfingHorses/" target="_blanc") Facebook ≫
    
  section.band
    h3#herzlos Herzlos
    p Rauher Deutschpunkrock aus Eulenbis
    img(src="/assets/img/herzlos.jpg", alt="Herzlos Bandfoto")
    p Eigentlich braucht man sie gar nicht mehr vorstellen, denn diese fünf Deutschpunkrocker aus Eulenbis sind längst über die Landesgrenzen hinweg bekannt. Ihre Songs spielten sie bereits in ganz Deutschland, darunter Nürnberg, Leipzig und Hamburg. Die Band besteht seit 2008 und blickt somit auf eine reichhaltige Geschichte zurück.
    
    div.responsiveContainer.right: iframe(width="420" height="315" src="https://www.youtube.com/embed/isc27PT6whc")
    
    p Deutschrock oder Punkrock oder irgendwas dazwischen? Vermutlich einfach nicht Kategorisierbar; dennoch: Ihre Musik ist geprägt von kraftvollen Rythmen und eingängigen Texten, die zum mitsingen und feiern einladen.
    p Das wird heiß im Moshpit. Mitgrölen und Pogo sind Pflicht!
    p
      a(href="https://soundcloud.com/herzlosofficial/" target="_blanc") SoundCloud ≫
      a(href="https://www.youtube.com/user/HerzlosEulenbis/" target="_blanc") YouTube ≫
      a(href="https://www.facebook.com/herzlos.deutschpunkrock" target="_blanc") Facebook ≫
    
  section.band
    h3#godl Girls of Doom Lagoon
    p Verträumter Indie-Rock aus Medard
    img(src="/assets/img/godl.jpg", alt="Girls of Doom Lagoon Bandfoto")
    p Frisch aus der Garage, direkt auf die Open Air Stage: Die Girls of Doom Lagoon kommen auf das Breitbachrock 2017!
    p Diese Jungs mussten wir nicht lange suchen, denn sie wohnen nur einen Steinwurf entfernt. Anfang des Jahres gegründet und im Kuseler Land beheimatet, gastierten sie bereits im legendären Schalander und wissen stets, mit ihren individuellen Songs zu begeistern. Verträumter Rock, perfekt für ein Open Air Festival. Da kommen Sommergefühle auf!
    a(href="https://www.facebook.com/Girls-of-Doom-Lagoon-1222065164572905/" target="_blanc") Facebook ≫
    
  section.band
    h3#blike Blike
    p Singer/Songwriter aus Kaiserslautern
    img(src="/assets/img/blike.jpg", alt="Blike Foto")
    p Portion gute Laune gefällig? Blike spielt auf dem Breitbachrock 2017!
    
    div.responsiveContainer.right: iframe(width="420" height="315" src="https://www.youtube.com/embed/Dsmtj0dGb8s")

    p Es ist ja nicht nur so, dass bei ihr musikalisches Talent auf eine Wahnsinnsstimme trifft; ihre Gigs sind vor allem auch von ihrer authentischen, energiegeladenen Art und purer Lebensfreude geprägt, womit sie im Handumdrehen das ganze Publikum ansteckt.
    
    p Daher sind wir besonders froh, dass sie das Breitbach Rock 2017 eröffnen wird. Wer da zu spät kommt, verpasst definitiv was!
    p
      a(href="https://www.instagram.com/blike_/" target="_blanc") Instagram ≫
      a(href="https://www.youtube.com/blikemusic/" target="_blanc") YouTube ≫
      a(href="https://www.facebook.com/blikemusic/" target="_blanc") Facebook ≫
    
  
