extends _import/page_layout
block pageTitle
  title BBR17 - Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "bbr17"
    include _import/nav.jade

block mainContent
  div.box
    h2.title BBR17    
    h3 Lineup 2017
    
    div.fullbox
      div.thumbnailWrapper.blike
        div.textWrapper
          h3 Blike
    
    div.thumbnailWrapper.godl
      div.textWrapper
        h3 Girls of Doom Lagoon
      
    div.thumbnailWrapper.herzlos
      div.textWrapper
        h3 Herzlos
                
    div.thumbnailWrapper.horses
      div.textWrapper
        h3 Surfing Horses
