extends _import/page_layout
block pageTitle
  title BBR18 - reitbach Rock Open Air
  
block navBar
  nav 
    - var site = "bbr18"
    include _import/nav.jade
    
block headerTitle
  h2.title BBR18

block mainContent
  div.box
    h2.title So war das Breitbach Rock 2018
    p Was war da denn los? Auf dem Breitbach Rock 2018 seid ihr ja mal so richtig steil gegangen! Als kleines Dankeschön gibt es hier ein paar Bilder und Videos.
    div.fullbox
      div.responsiveContainer: iframe(width="420" height="315" src="https://www.youtube.com/embed/YKoV6CFdBSU")
    p Mit einhundert Besuchern war das Event ein unerwarter Erfolg. Wir sind froh, dass alles ruhig verlaufen ist und wir trotz der krassen Unwetterwarnungen so viel Support und Resonanz von euch bekommen haben. Am Ende wurden wir mit einem - großteils trockenen - und vor allem stimmungsvollen, gelungenen Abend mit wunderbaren Bands und Künstlern belohnt. Ein fettes Danke an dieser Stelle!
    
    //Bands
    div.fullbox
      
      //Blike
      div.thumbnailWrapper.blike
        div.textWrapper
          h3.chineseRocks Blike             
      p Es wird langsam zur Tradition: Eröffnet wurde das Fest am späten Nachmittag von Michelle aka #[a(href="https://www.facebook.com/melchella/" target="_blanc") BLIKE], gechillter Pop in alter Singer-/Songwriter-Manier, diesmal sogar mit Loopstation!
      section.galerie
        div.galerie.blike2018bild1
        div.galerie.blike2018bild2
              
      //Fibel  
      div.thumbnailWrapper.fibel
        div.textWrapper
          h3.chineseRocks Fibel        
      p Rockiger wurde es anschließend bei #[a(href="http://fibel-band.de" target="_blanc") FIBEL]. Die Prograssive-Rock Band aus dem Saarland gab einige Stücke aus ihrem neuen Album „Sturm & Strömung“ zum Besten.
      section.galerie
        div.galerie.fibel2018bild1
        div.galerie.fibel2018bild2
      p Die Formation in kompakter 3-Mann-Besetzung (André am Schlagzeug, Thomas am Bass und Daniel ist für Gitarre und Gesang zuständig) überzeugt auf ganzer Linie.
      section.galerie
        div.galerie.fibel2018bild3
        div.galerie.fibel2018bild4
      
      // Surfing Horses              
      div.thumbnailWrapper.horses
        div.textWrapper
          h3.chineseRocks Surfing Horses        
      p Konsequent weiter geht es mit den #[a(href="https://www.facebook.com/SurfingHorses/" target="_blanc") SURFING HORSES]. Die Studentenband aus Kaiserslautern bringt mit Funk und Groove sommerliche Vibes in den Laden!
      section.galerie        
        div.galerie.horses2018bild1
        div.galerie.horses2018bild2
      p "Waggel mit da Hufte." Hier gilt Tanzpflicht!
      section.galerie
        div.galerie.horses2018bild3
        div.galerie.horses2018bild4
      
      // Dreimillionen  
      div.thumbnailWrapper.dreimillionen
        div.textWrapper
          h3.chineseRocks Dreimillionen
      p Mit von der Partie: die Pop-Rock Band #[a(href="http://www.dreimillionen.com" target="_blanc") DREIMILLIONEN] aus Frankfurt. Das Genre trügt: Ihre Musik ist absolut energiegeladen und lädt zum abgehen ein.
      section.galerie
        div.galerie.dreimillionen2018bild1 
        div.galerie.dreimillionen2018bild2
      p Die Jungs geben ordentlich Gas!
      section.galerie
        div.galerie.dreimillionen2018bild3
        
      // Unherz
      div.thumbnailWrapper.unherz
        div.textWrapper
          h3.chineseRocks Unherz
      p Auf diesen Moment haben sich viele gefreut: #[a(href="http://www.unherz.com" target="_blanc") UNHERZ] betritt die Bühne! 
      section.galerie
        div.galerie.unherz2018bild1 
        div.galerie.unherz2018bild2
        div.galerie.unherz2018bild3
      p Die Pfälzer bestechen durch treibende Riffs, glaskare Melodien sowie Rythmen, die zum Haare schütteln wie gemacht sind.
      section.galerie
        div.galerie.unherz2018bild4
        div.galerie.unherz2018bild5
        
      // Herzlos  
      div.thumbnailWrapper.herzlos
        div.textWrapper
          h3.chineseRocks Herzlos       
          
      section.galerie
        div.galerie.herzlos2018bild1
      p Kurz vor Mitternacht wird es Zeit für unseren Headliner: Bühne frei für #[a(href="https://www.facebook.com/herzlos.deutschpunkrock" target="_blanc") HERZLOS]!
      section.galerie
        div.galerie.herzlos2018bild2
        div.galerie.herzlos2018bild3
      p "Krawall und Remmidemmi!" - rythmisches Bewegen auf Kozerten unter Anweisung von Fachpersonal.
      section.galerie
        div.galerie.herzlos2018bild4
      p Vielen Dank! Es war uns ein Fest. Wir sehen uns nächstes Jahr.
