extends _import/page_layout
  
block pageName
  -var pageName = "BBR17"

block mainContent
  div.container-2017
    div.box
      h2.title Breitbach Rock 2017
                  
      div.thumbnailWrapper.horses
        div.textWrapper
          h3 Surfing Horses
          
      section.galerie
        div.horses1.galerie
        div.horses2.galerie
        div.horses3.galerie
        div.horses4.galerie
          
      div.thumbnailWrapper.herzlos
        div.textWrapper
          h3 Herzlos       
          
      section.galerie
        div.herzlos1.galerie
        div.herzlos2.galerie
        div.herzlos3.galerie
        div.herzlos4.galerie
        div.herzlos5.galerie
          
      div.thumbnailWrapper.godl
        div.textWrapper
          h3 Girls of Doom Lagoon         
          
      section.galerie
        div.godl1.galerie
        div.godl2.galerie    
        div.godl3.galerie         
          
      div.thumbnailWrapper.blike
        div.textWrapper
          h3 Blike
            
      section.galerie
        div.blike1.galerie   
        div.blike2.galerie  
