extends _main-layout.pug

block pageName
  -var pageName = "Campingregeln"

block mainContent
 div.box.rules
  h2.title Campingregeln

  h3 Richtlinien für das Campinggelände des Breitbach Rock Festivals

  h4 Campingarea

  p Das Breitbach Rock Festival hat einen eigenen Festivalcampingbereich.
  p Dieser ist nur in Verbindung mit einem gültigen Festivalticket nutzbar.
  p Wohnmobile, Kleinbusse oder vergleichbares auf dem Campingplatz aufzustellen, ist aus technischen Gründen nicht möglich.
  p Die Benutzung des Campingplatzes geschieht auf eigene Gefahr! Der Veranstalter haftet nicht für Schäden, die durch andere Besucher oder sonstige Dritte entstehen.
  p Wir bitten Euch sich an die Regeln zu halten!


  h4 Müll

  p Da wir nur einen Greencamping Bereich anbieten, werden an dem Eingang Müllbeutel bereitgestellt, damit der Campingplatz sauber bleibt. Der Rückgabebereich wird auf dem Gelände ausgeschildert sein.

  h4 Hygiene

  p Es stehen Mobil-Toiletten in begrenzter Menge bereit.


  h4 Folgende Campingregeln sind zu beachten:
  ol
    li: p Das Überwinden von Absperrungen (Bauzäune, Wildzäune, etc.) ist strikt untersagt. Bei Zuwiderhandlung wird die Zugangserlaubnis (Festivalband) einbehalten.
    li: p Nicht erlaubt sind Wohnungseinrichtungen wie Sofas, Sessel, Baumaterialien , Sperrmüll, Stromageneratoren oder Aggregate, Trockeneis, flüssige Grillanzünder, Kühlschränke, Tiere, Fahrzeuge, Megaphone und Vuvuzelas.
    li: p Glasflaschen und Glasbehälter sind aufgrund der Verletzungsgefahr verboten. Es werden entsprechende Kontrollen durchgeführt.
    li: p Pavillions sind erlaubt, jedoch in der Personenanzahl angemessener Größe. Wir behalten es uns vor, zu große Pavillions abbauen zu lassen. Großzelte, Jurten etc. sind verboten.
    li: p Fässer, Dosen und Tetrapacks sind auf dem Campinggelände erlaubt. Allerdings nur da!
    li: p Durchgangs-und Rettungswege sind jederzeit freizuhalten ( Zeltaufbau strengstens verboten)
    li: p Offenes Feuer ist generell verboten ( aufgrund von Waldbrandgefahr) ! Holzkohlegrills und Campingkocher sind erlaubt.
    li: p Vorsetzliches Feuerlegen wird strafrechtlich konsequent verfolgt!
    li: p Feuerlöscheinsätze werden direkt vor Ort in Bar durch die Veranstalter kassiert!
    li: p Der Betrieb von Geräten zur Musikwiedergabe ist in der Zeit zwischen 23 Uhr und 8 Uhr strikt untersagt. Bei Zuwiderhandlung folgt Verweis von Gelände!
    li: p Damit wir das Gelände unversehrt an die Natur zurückgeben können, achtet darauf, euren Müll restlos zu entsorgen.
  
  p Wir appellieren an jeden einzelnen die Regeln zu beachten.
  p: strong Danke für eure Mitarbeit!
