extends _import/page_layout

block pageTitle
  title Camping - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "camping"
    include _import/nav.pug 
    
block headerTitle
  h2.title Camping

block mainContent
 div.box.camping
  h2.title Camping
  p Auf dem Breitbach Rock Festival könnt ihr auch campen, wie sich das für ein ordentliches Festival gehört. Macht es wie die Schäfchen, bleibt über Nacht auf der Weide!
  
  img(src="assets/img/camper.jpg", alt="Camper (Symbolbild)")

  p Der Campingplatz liegt direkt angrenzend am Konzertgelände. Keine langen Fußwege! Und das Beste: Ihr müsst für den Zeltplatz nichts zusätzlich bezahlen! #[strong Der Campingplatz kann von jedem Festivalbesucher frei genutzt werden.]

  p Das heißt: Niemand muss Samstag Nacht an die Heimreise denken. Einfach schon am Nachmittag das eigene Zelt aufbauen, bis Abends auf dem Campingplatz die Nachbarn kennenlernen, später unbeschwert bis in die frühen Morgenstunden auf dem Konzertgelände feiern und anschließend in das vorbereitete Bettchen legen und schön ausschlafen. Das ist Festivalfeeling!
  
  p: small [Hinweis: Foto des Camping-Mobils ist ein Symbolbild. Camping-Mobile sind auf dem Campingplatz des Festivals nicht gestattet.]
  
  p Bitte nehmt Rücksicht auf die übrigen Besucher und beachtet zur Sicherheit aller die #[a(href="campingregeln.html") Regeln für den Campingplatz].

  h3 Hier kommt euer Zelt hin:
  p Dieser Fleck direkt in der Natur ist extra für euch reserviert!
  img.pano(src="assets/img/campingplatz.jpg", alt="Campingplatz")
  
  
  
