extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-index
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description
        strong Open Air Festival
      p.location 
        strong Oberweiler-Tiefenbach        

    div.box
      div.fullbox
        h2.title So war das Breitbach Rock 2018
        p Was war da denn los? Auf dem Breitbach Rock 2018 seid ihr ja mal so richtig steil gegangen! Als kleines Dankeschön gibt es hier ein paar Bilder und Videos.
        div.fullbox
          div.responsiveContainer: iframe(width="420" height="315" src="https://www.youtube.com/embed/YKoV6CFdBSU")
        p Mit einhundert Besuchern war das Event ein unerwarter Erfolg. Wir sind froh, dass alles ruhig verlaufen ist und wir trotz der krassen Unwetterwarnungen so viel Support und Resonanz von euch bekommen haben. Am Ende wurden wir ...
        p.right: a(href="bbr18.html") Weiterlesen ≫
        
      div.halfbox
        h2 Location
        a(href="location.html"): img(src="assets/img/konzertgelände.png", alt="Übersichtskarte Konzertgelände")
        p Übersichtskarten und Informationen zum Angebot auf dem Konzertgelände findet ihr hier. 
        p.right: a(href="location.html") Weitere Informationen ≫
        
      div.halfbox
        h2 Camping
        a(href="camping.html"): img(src="assets/img/camper.jpg", alt="Camper (Symbolbild)")
        p Bei uns könnt ihr natürlich auch campen, wie sich das für ein ordentliches Festival gehört. Wir haben das bei dem Landwirt vor Ort für euch klar gemacht. Samstag Nacht muss keiner mehr nach Hause!
        p.right: a(href="camping.html") Weitere Informationen ≫
        
      div.halfbox
        h2 Anfahrt
        a(href="anfahrt.html"): img(src="assets/img/umgebung.png", alt="Anfahrtskarte")
        p Hier haben wir euch Anfahrtswege, Karten und Hinweise zusammengestellt. Fahrt vorsichtig, wir sehen uns dann auf dem Festivalplatz! 
        p.right: a(href="anfahrt.html") Weitere Informationen ≫
        
      div.halfbox
        h2 Breitbach Rock 2019
        p Informationen folgen in Kürze!
