extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-preview
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description Open Air Festival 2017

      p.date
        strong 10. Juni

      //- p.wait-for-it 
      //-   small weitere Informationen folgen...
