extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-preview
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description Rock Open Air Festival

      p.date
        strong 09. Juni 2018
        
      p.location Oberweiler-Tiefenbach
