extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-preview
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description Open Air Festival

      p.date
        strong 09. Juni 2018
        
      p.location Oberweiler-Tiefenbach

    div.box
      div.fullbox
        h2 Lineup 2018
        a.bandThumb(href="/bands.html#fibel")
          div.thumbnailWrapper.fibel
            div.textWrapper
              h3 Fibel
              
        a.bandThumb(href="/bands.html#blike")
          div.thumbnailWrapper.blike
            div.textWrapper
              h3 Blike
              
        p.right und noch viele mehr...

      
      div.halfbox
        h2 Camping
        
        p Auf dem Breitbach Rock Festival könnt ihr auch campen, wie sich das für ein ordentliches Festival gehört.
        
        a(href="/camping.html")
          img(src="/assets/img/camper.jpg", alt="Camper (Symbolbild)")
        
        p Der Campingplatz liegt direkt angrenzend am Konzertgelände. Keine langen Fußwege! Und das Beste: Ihr müsst für den Zeltplatz nichts zusätzlich bezahlen! #[strong Der Campingplatz kann von jedem Festivalbesucher frei genutzt werden.]

        p: a(href="/camping.html") Weitere Informationen
        
      div.halfbox
        h2 Anfahrt
        p Das Breitbach Rock Festival findet auf dem Festgelände beim Gemeindehaus Oberweiler-Tiefenbach bei Wolfstein, Ortsteil Tiefenbach, statt.
        a(href="/anfahrt.html")
          img(src="/assets/img/umgebung.png", alt="Umgebungskarte")
        p Folgende Adresse kann für's Navi verwendet werden: Schulstraße 7, 67752 Oberweiler-Tiefenbach
        p: a(href="/anfahrt.html") Weitere Informationen
        
      div.fullbox
        
