extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-preview
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description Open Air Festival

      p.date
        strong 09. Juni 2018
        
      p.location Oberweiler-Tiefenbach

    div.box
      div.fullbox
        h2 Lineup        
        a.bandThumb(href="/bands.html#unherz")
          div.thumbnailWrapper.unherz
            div.textWrapper
              h3 Unherz
        
        a.bandThumb(href="/bands.html#fibel")
          div.thumbnailWrapper.fibel
            div.textWrapper
              h3 Fibel
              
        a.bandThumb(href="/bands.html#blike")
          div.thumbnailWrapper.blike
            div.textWrapper
              h3 Blike
              
        p.right weitere werden noch bekanntgegeben

      
      div.halfbox
        h2 Camping
        
        p Auf dem BBR könnt ihr auch campen, wie sich das für ein ordentliches Festival gehört.
        p: a(href="/camping.html") Weitere Informationen
        
      div.halfbox
        h2 Anfahrt
        p Wir haben euch hier Anfahrtsbeschreibungen, Karten und Hinweise zusammengestellt.
        p: a(href="/anfahrt.html") Weitere Informationen
        
      div.halfbox
        h2 Collage BBR17
        p So habt ihr das letzte Jahr gerockt! Eine Auswahl an Bildern findet ihr hier.
        p: a(href="/bbr17.html") Weitere Informationen
        
