extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-preview
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description Open Air Festival

      p.date
        strong 09. Juni 2018
        
      p.location Oberweiler-Tiefenbach

    div.box
      div.fullbox
        h2 Lineup        
        a.bandThumb(href="bands.html#unherz")
          div.thumbnailWrapper.unherz
            div.textWrapper
              h3 Unherz
        
        a.bandThumb(href="bands.html#fibel")
          div.thumbnailWrapper.fibel
            div.textWrapper
              h3 Fibel
              
        a.bandThumb(href="bands.html#blike")
          div.thumbnailWrapper.blike
            div.textWrapper
              h3 Blike
              
        p.right#tba weitere werden noch bekanntgegeben

      
      div.halfbox
        h2 Camping
        a(href="camping.html"): img(src="assets/img/camper.jpg", alt="Camper (Symbolbild)")
        p Bei uns könnt ihr natürlich auch campen, wie sich das für ein ordentliches Festival gehört. Wir haben das bei dem Landwirt vor Ort für euch klar gemacht. Samstag Nacht muss keiner mehr nach Hause!
        p.right: a(href="camping.html") Weitere Informationen
        
      div.halfbox
        h2 Anfahrt
        a(href="anfahrt.html"): img(src="assets/img/umgebung.png", alt="Anfahrtskarte")
        p Hier haben wir euch Anfahrtswege, Karten und Hinweise zusammengestellt. Fahrt vorsichtig, wir sehen uns dann auf dem Festivalplatz! 
        p.right: a(href="anfahrt.html") Weitere Informationen
        
      div.halfbox
        h2 Galerie BBR17
        p So habt ihr das letzte Jahr gerockt! Eine Collage mit Bildern der Gigs des letzen Jahres findet ihr hier.
        p.right: a(href="bbr17.html") Weitere Informationen
                
      div.halfbox
        h2 Tickets
        p Die limitierten Einzel- und Gruppentickets für das BBR18 erhaltet ihr exklusiv in unserem Onlineshop.
        p.right: a(href="https://shop.ticketpay.de/N1XF4U8L") Zum Ticketshop ≫
        
