extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.jade

block mainContent
  div.container-preview
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description Indie Rock Open Air Festival

      p.date
        strong 10. Juni 2017
        
      p.location Oberweiler-Tiefenbach
      
      p.time 
        small Campingplatz ab 15:00 Uhr | Konzertgelände ab 18:00 Uhr
      
    div.box
      div.fullbox
        a.bandThumb(href="/bands.html#blike")
          div.thumbnailWrapper.blike
            div.textWrapper
              h3 Blike
              h4 19:00
        
        a.bandThumb(href="/bands.html#godl")
          div.thumbnailWrapper.godl
            div.textWrapper
              h3 Girls of Doom Lagoon
              h4 20:00
            
        a.bandThumb(href="/bands.html#herzlos")
          div.thumbnailWrapper.herzlos
            div.textWrapper
              h3 Herzlos
              h4 21:30
                      
        a.bandThumb(href="/bands.html#horses")
          div.thumbnailWrapper.horses
            div.textWrapper
              h3 Surfing Horses
              h4 23:00

      
      div.halfbox
        h2 Tickets
        p Die Breibtach-Rock-Vorverkaufskarten berechtigen euch zum Eintritt auf das Konzertgelände sowie auf das Campingareal.
        a(href="/tickets.html")
          img(src="/assets/img/tickets.jpg", alt="Tickets")
        p Der Kartenvorverkauf ist beendet. Es gibt noch Einlass an der Abendkasse (inklusive Camping), solange das Festival nicht ausverkauft ist. Die Kasse ist ab 15:00 Uhr besetzt.
        p: a(href="/tickets.html") Weitere Informationen
        
      div.halfbox
        h2 Anfahrt
        p Das Breitbach Rock Festival findet auf dem Festgelände beim Gemeindehaus Oberweiler-Tiefenbach bei Wolfstein, Ortsteil Tiefenbach, statt.
        a(href="/anfahrt.html")
          img(src="/assets/img/umgebung.png", alt="Umgebungskarte")
        p Folgende Adresse kann für's Navi verwendet werden: Schulstraße 7, 67752 Oberweiler-Tiefenbach
        p: a(href="/anfahrt.html") Weitere Informationen
        
      div.fullbox
        h2 Camping
        
        p Auf dem Breitbach Rock Festival könnt ihr auch campen, wie sich das für ein ordentliches Festival gehört.
        
        //- a(href="/camping.html")
        //-   img(src="/assets/img/schaf.jpg", alt="Schaf (Symbolbild)")
        
        p Der Campingplatz liegt direkt angrenzend am Konzertgelände. Keine langen Fußwege! Und das Beste: Ihr müsst für den Zeltplatz nichts zusätzlich bezahlen! #[strong Der Campingplatz kann von jedem Festivalbesucher frei genutzt werden.]

        p: a(href="/camping.html") Weitere Informationen
