extends _import/page_layout
block pageTitle
  title Breitbach Rock Open Air
  
block navBar
  nav 
    - var site = "start"
    include _import/nav.pug

block mainContent
  div.container-index.margintop  
    div.bbr-logo.bbr-main-logo
      include _import/logo.svg
  
    div.text
      p.description
        strong Open Air Festival
      p.date
        strong 07. - 08. Juni 2019
      p.location 
        strong Oberweiler-Tiefenbach        

    div.box
      div.fullbox
        h2 Lineup 2018  
         
        a.bandThumb(href="bands.html#herzlos")
          div.thumbnailWrapper.herzlos
            div.textWrapper
              h3 Herzlos
                 
        a.bandThumb(href="bands.html#horses")
          div.thumbnailWrapper.horses
            div.textWrapper
              h3 Surfing Horses
               
        a.bandThumb(href="bands.html#dreimillionen")
          div.thumbnailWrapper.dreimillionen
            div.textWrapper
              h3 Dreimillionen
        
      div.halfbox
        h2 Location
        a(href="location.html"): img(src="assets/img/konzertgelände.png", alt="Übersichtskarte Konzertgelände")
        p Übersichtskarten und Informationen zum Angebot auf dem Konzertgelände findet ihr hier. 
        p.right: a(href="location.html") Weitere Informationen ≫
        
      div.halfbox
        h2 Camping
        a(href="camping.html"): img(src="assets/img/camper.jpg", alt="Camper (Symbolbild)")
        p Bei uns könnt ihr natürlich auch campen, wie sich das für ein ordentliches Festival gehört. Wir haben das bei dem Landwirt vor Ort für euch klar gemacht. Samstag Nacht muss keiner mehr nach Hause!
        p.right: a(href="camping.html") Weitere Informationen ≫
        
      div.halfbox
        h2 Anfahrt
        a(href="anfahrt.html"): img(src="assets/img/umgebung.png", alt="Anfahrtskarte")
        p Hier haben wir euch Anfahrtswege, Karten und Hinweise zusammengestellt. Fahrt vorsichtig, wir sehen uns dann auf dem Festivalplatz! 
        p.right: a(href="anfahrt.html") Weitere Informationen ≫
        
      div.halfbox
        h2 Breitbach Rock 2018
        a(href="bbr18.html"): img(src="assets/img/vielenDank.jpg", alt="Vielen Dank")
        p Als Rückschau auf das Fest von letztem Jahr haben wir euch hier ein paar Bilder und Videos zusammengetragen.
        p.right: a(href="bbr18.html") Weitere Informationen ≫
