extends _main-layout.pug

block pageName
  -var pageName = "Start"

block mainContent
  div.container-index.margintop  
    div.bbr-logo.bbr-main-logo
      include _graphics/bbr-logo.svg
  
    div.text
      p.description
        strong Open Air Festival
      p.date
        strong 07. - 08. Juni 2019
      p.location 
        strong Oberweiler-Tiefenbach
      p.time 
        small Fr 18:00 Uhr | Sa 14:30 Uhr
      p #[small Fr €12,00 | Sa €18,00 | Kombi €25,00]   

    div.box
      div.fullbox
        h2 Lineup 2019
        for b in bands
          if b.announced == "true"
            +bandThumbNail(b)

      for s in sites
        if s.thumb
          +halfbox(s)