extends _import/page_layout

block pageName
  -var pageName = "Start"

block mainContent
  div.container-index.margintop  
    div.bbr-logo.bbr-main-logo
      include _import/graphics/bbr-logo.svg
  
    div.text
      p.description
        strong Open Air Festival
      p.date
        strong 07. - 08. Juni 2019
      p.location 
        strong Oberweiler-Tiefenbach        

    div.box
      div.fullbox
        h2 Lineup 2019
        for b in bands
          if b.announced == "true"
            +bandThumbNail(b)
        p.right und viele weitere

      for s in sites
        if s.thumb
          +halfbox(s)