extends _import/page_layout

block pageTitle
  title Kontakt - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "kontakt"
    include _import/nav.jade

block mainContent
 div.box
  h2.title Kontakt
  
