extends _import/page_layout

block pageTitle
  title Lageplan - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "lageplan"
    include _import/nav.jade 
    
block headerTitle
  h2.title Lageplan

block mainContent
 div.box.lageplan
  h2.title Lageplan
  p Du brauchst 'nen Plan? Bitteschön! Hier behältst du sicher den Überblick.
  
  h3 Umgebungsplan  
  img(src="assets/img/umgebungsplan.jpg", alt="Umgebungsplan: Camping, Parken und Festgelände")
  
  h3 Konzertgelände
  img(src="assets/img/festgeländeplan.jpg", alt="Detailplan des Festgeländes")
  
  
  
