extends _import/page_layout

block pageName
  -var pageName = "Lineup"
  
block mainContent
  div.box.lineup
    h2.title Lineup 2018
     
    for b in bands
      if b.announced == "true"
        +bandSection(b)