extends _main-layout.pug

block pageName
  -var pageName = "Lineup"
  
block mainContent
  div.box.lineup
    h2.title Lineup 2019
    p Bereits bestätigte Acts
     
    for b in bands
      if b.announced == "true"
        +bandSection(b)