extends _main-layout.pug

block pageName
  -var pageName = "Lineup"
  
block mainContent
  div.box.lineup
    h2.title Lineup 2019
    h2.day Freitag
    for b in bands
      if b.announced == "true" && b.day == "fr"
        +bandSection(b)

    h2.day Samstag
    for b in bands
      if b.announced == "true" && b.day == "sa"
        +bandSection(b)