extends _import/page_layout

block pageTitle
  title Tickets - Breitbach Rock Open Air

block navBar
  nav 
    - var site = "tickets"
    include _import/nav.jade

block mainContent
 div.box.tickets
  h2.title Tickets
  
  h3 Vorverkauf
  
  img(src="/assets/img/tickets.jpg", alt="Tickets")
  
  p Sicher ist sicher: An diesen Vorverkaufsstellen erhaltet ihr die limitierten Breitbach-Rock-Vorverkaufstickets, die euch Eintritt zu dem Liveprogramm sowie zum Campingplatz verschaffen. Preis pro Ticket: 16,- € (inkl. Steuern). Es gelten die #[a(href="/agb.html") AGB des Breitbach Rock Festivals].
  
  div.twoColContainer
  
    section.vorverkauf
      h4 AVIA Tankstelle Kreimbach-Kaulbach
      p Wallackerhof 1, 67757 Kreimbach-Kaulbach
      p 06304 1331
      //img(src="/assets/img/avia.jpg", alt="AVIA Information")
      p: a(href="https://www.google.de/maps/place/AVIA+Tankstelle+Gehrhardt/@49.55446,7.6177313,17z/data=!4m8!1m2!3m1!2sAVIA+Tankstelle+Gehrhardt!3m4!1s0x0:0x959a986958624a5e!8m2!3d49.5544598!4d7.6199198" target="_blanc") Google Maps ≫
      
    section.vorverkauf
      h4 ED Tankstelle Lauterecken
      p Saarbrücker Str. 67, 67742 Lauterecken
      p 06382 92320
      //img(src="/assets/img/ed.jpg", alt="ED Information")
      p: a(href="https://www.google.de/maps/place/Autohaus+Sydow+GmbH/@49.650152,7.583588,17z/data=!3m1!4b1!4m5!3m4!1s0x4795fd830482a24f:0xf07c2ff957c437a4!8m2!3d49.650152!4d7.585782" target="_blanc") Google Maps ≫
  
  h3 Abendkasse
  p Für Kurzentschlossene bieten wir auch eine Abendkasse, wo ihr am Veranstaltungsabend direkt für euren Einlass zum Hauptgelände sowie Campingsplatz bezahlen könnt. Angebot nur solange das Festival nicht ausverkauft ist. Preis pro Einlass: 20,- € (inkl. Steuern). Es gelten die #[a(href="/agb.html") AGB des Breitbach Rock Festivals].
  
